<div id="<%= dom_id officer_position %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= officer_position.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Member:</strong>
    <%= officer_position.member_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this officer position", officer_position, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this officer position', edit_officer_position_path(officer_position), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
