<%= form_for(:question, method: :delete) do |form| %>
	
	<% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="my-5">
    This question will be deleted: </br>
		<b><%= @question.question %></b>
  </div>

	<div class="inline">
		<%= form.submit ('Delete'), class: "py-3 px-5 inline-block font-medium bg-maroon hover:bg-maroon-light rounded-lg text-white cursor-pointer" %>
	</div>
	
<% end %>