<%= form_with(model: sfk_info) do |form| %>
  <% if sfk_info.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(sfk_info.errors.count, "error") %> prohibited this sfk_info from being saved:</h2>

      <ul>
        <% sfk_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :mission %>
    <%= form.text_field :mission, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"%>
  </div>

  <div class="my-5">
    <%= form.label :history %>
    <%= form.text_field :history, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"%>
  </div>

  <div class="my-5">
    <%= form.label :ig_link %>
    <%= form.text_field :ig_link, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"%>
  </div>

  <div class="inline">
    <%= form.submit class: "mt-2 py-3 px-5 inline-block font-medium bg-maroon hover:bg-maroon-light rounded-lg text-white cursor-pointer"%>
  </div>
<% end %>

<%= link_to 'Back to About Us', about_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"%>
