<h1 class="text-6xl font-black">Apply Now</h1>
<hr class="mb-10">

<%= form_with url: "/answers", method: :post do |form| %>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
        Email
      </label>
	  <%= form.text_field :email, :class =>"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"%>
    </div>
  </div>

	<% @questions.each do |q, i| %>
	<div class="flex flex-wrap -mx-3 mb-6">
		<div class="w-full px-3">
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"><%= q.question %></br>	
				<div style="display: none;">
					<input type="text_field" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" name="answers[][q]" value="<%= q.question %>">
				</div>
			<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="answers[][a]">
			</label>
		</div>
	</div> 
	<% end %>

	<%= form.submit "Save" %>


<% end %>