<nav class="flex items-center justify-between flex-wrap bg-maroon px-6 py-2">
    <div class="flex items-center flex-shrink-0 text-white">
        <%= link_to '/' do %>
          <%= image_tag ("logo_white.png"), alt: "Sports For Kids", class: "w-auto h-10 font-semibold text-xl tracking-tight" %>
        <% end %>
    </div>
    <div class="block lg:hidden my-4">
        <button type="button" id="navbar-open" class="flex px-6 items-center lg:hidden text-white focus:outline-none focus:text-white" aria-label="Open site navigation">
          <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
        <button type="button" id="navbar-close" class="flex px-6 items-center hidden lg:hidden text-white focus:outline-none focus:text-white" aria-label="Close site navigation">
          <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"></path>
          </svg>
        </button>
    </div>
    <div id="links" class="w-full block flex-grow hidden lg:visible lg:flex lg:items-center lg:w-auto lg:justify-between my-4">
        <div class="text-sm lg:flex-grow">
          <%= link_to "Home", '/', class: "block mt-4 lg:inline-block lg:mt-0 lg:ml-10 text-gray-200 hover:text-white" %>
          <%= link_to "About Us", '/about', class: "block mt-4 lg:inline-block lg:mt-0 lg:ml-10 text-gray-200 hover:text-white" %>
          <%= link_to "Our Team", '/team', class: "block mt-4 lg:inline-block lg:mt-0 lg:ml-10 text-gray-200 hover:text-white" %>
          <%= link_to "Social Media", '/social_media', class: "block mt-4 lg:inline-block lg:mt-0 lg:ml-10 text-gray-200 hover:text-white" %>
          <% if user_signed_in? %>
            <%= link_to "Events", '/events', class: "block mt-4 lg:inline-block lg:mt-0 lg:ml-10 text-gray-200 hover:text-white" %>
          <% end %>
        </div>
        <div class="text-sm flex flex-col lg:flex-row">
          <% if user_signed_in? %>
            <% if (current_user.member.present? && current_user.member.position.member?) %>
              <%= link_to "Dashboard", '/dashboard', class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-5 text-gray-200 hover:text-white" %>
            <% end %>
            <%= link_to "Profile", '/profile', class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-5 text-gray-200 hover:text-white" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white" %>
          <% else %>
            <%= link_to "Apply", '/apply', class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-5 text-gray-200 hover:text-white" %>
            <%= button_to "Login", user_google_oauth2_omniauth_authorize_path, class: "bg-maroon border-solid cursor-pointer mt-4 lg:mt-0 text-gray-200 hover:text-white" %>
          <% end %>
        </div>
    </div>
</nav>