<!DOCTYPE html>
<html>
  <head>
    <title>Sports For Kids</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render "layouts/nav" %>
    <main class="container mx-auto my-20 px-20">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <script>
      // Navbar toggle functionality
      function toggleNav() {
          const open = document.getElementById('navbar-open');
          const close = document.getElementById('navbar-close');

          open.classList.toggle('hidden');
          close.classList.toggle('hidden');

          const nav = document.querySelector('#links');
          nav.classList.toggle('hidden');
      }

      // Initial actions after page loads
      window.onload = () => {
          document.getElementById('navbar-open').addEventListener('click', toggleNav);
          document.getElementById('navbar-close').addEventListener('click', toggleNav);
      };
    </script>
  </body>
</html>
