<% if action_name == "index" %>
  <tr id="<%= dom_id member %>">
    <td class="px-4"><%= member.full_name %></td>
    <td class="pr-4"><%= member.email %></td>
    <td class="pr-4"><%= member.phone %></td>
    <td class="pr-4"><%= member.position.role %></td>
    <td class="pr-4"><%= member.grad_date %></td>
    <td class="pr-4"><%= member.points %></td>
    <td>
      <%= link_to "View member profile", member, class: "py-3 px-5 inline-block bg-maroon hover:bg-maroon-light rounded-lg text-white font-medium whitespace-nowrap" %>
    </td>
    <td>
      <%= link_to 'Edit this member', edit_member_path(member), class: "py-3 px-5 ml-2 inline-block bg-gray-100 rounded-lg font-medium whitespace-nowrap " %>
    </td>
    <td>
      <%= button_to "Remove This Member", member, :method => :delete, data: { confirm: "Are you sure?" }, class: "py-3 px-5 ml-2 inline-block bg-gray-100 rounded-lg font-medium whitespace-nowrap cursor-pointer" %>
    </td>
  </tr>
<% else %>
  <div id="<%= dom_id member %>">
    <p class="my-5">
      <strong class="inline-block font-medium mb-1 mr-6">Full Name:</strong>
      <%= member.full_name %>
    </p>

    <p class="my-5">
      <strong class="inline-block font-medium mb-1 mr-6">Email:</strong>
      <%= member.email %>
    </p>

    <p class="my-5">
      <strong class="inline-block font-medium mb-1 mr-6">Phone:</strong>
      <%= member.phone %>
    </p>

    <p class="my-5">
      <strong class="inline-block font-medium mb-1 mr-6">Bio:</strong>
      <%= member.bio %>
    </p>

    <p class="my-5">
      <strong class="inline-block font-medium mb-1 mr-6">Role:</strong>
      <%= member.position.role %>
    </p>

    <p class="my-5">
      <strong class="inline-block font-medium mb-1 mr-6">Graduation Date:</strong>
      <%= member.grad_date %>
    </p>

    <p class="my-5">
      <strong class="inline-block font-medium mb-1 mr-6">Points:</strong>
      <%= member.points %>
    </p>
    <% if action_name != "show" && action_name != "profile" %>
      <%= link_to "View member profile", member, class: "py-3 px-5 inline-block bg-maroon hover:bg-maroon-light rounded-lg font-medium text-white" %>
      <%= link_to 'Edit this member', edit_member_path(member), class: "py-3 px-5 ml-2 inline-block bg-gray-100 rounded-lg font-medium" %>
    <% end %>
  </div>
<% end %>
