<div id="<%= dom_id member %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= member.full_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= member.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= member.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= member.position.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Grad date:</strong>
    <%= member.grad_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Points:</strong>
    <%= member.points %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this member", member, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this member', edit_member_path(member), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
