<div id="<%= dom_id member %>">
  <p class="my-5">
    <strong class="inline-block font-medium mb-1 mr-6">Full Name:</strong>
    <%= member.full_name %>
  </p>

  <p class="my-5">
    <strong class="inline-block font-medium mb-1 mr-6">Email:</strong>
    <%= member.email %>
  </p>

  <p class="my-5">
    <strong class="inline-block font-medium mb-1 mr-6">Phone:</strong>
    <%= member.phone %>
  </p>

  <p class="my-5">
    <strong class="inline-block font-medium mb-1 mr-6">Role:</strong>
    <%= member.position.role %>
  </p>

  <p class="my-5">
    <strong class="inline-block font-medium mb-1 mr-6">Graduation Date:</strong>
    <%= member.grad_date %>
  </p>

  <p class="my-5">
    <strong class="inline-block font-medium mb-1 mr-6">Points:</strong>
    <%= member.points %>
  </p>

  <% if action_name != "show" && action_name != "profile" %>
    <%= link_to "View member profile", member, class: "py-3 px-5 inline-block font-medium bg-maroon hover:bg-maroon-light rounded-lg text-white" %>
    <%= link_to 'Edit this member', edit_member_path(member), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
